body{
    margin: 0px
}

.navegador{
    display: flex;
    justify-content: space-between;
    padding: 24px;

    margin: 0px;
    
    background: #372515;
}

.navegador-paginas{
    display: flex;
    
}
.navegador > .navegador-paginas > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navegador > .navegador-derecha > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navegador-paginas-enlace{
    font-family: Pontano Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    

    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navegador-paginas-enlace a{
    color: #ede6e6;
    text-decoration: none;
    transition: color 0.5s;
}

.navegador-paginas-enlace:hover{
    border-bottom: 1px solid #FFFFFF;
}

.navegador-paginas-enlace a:hover{
    color: #FFFFFF;
}

.navegador-derecha-enlace{
    font-family: Pontano Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;

    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

}

.navegador-derecha-enlace a{
    color: #ede6e6;
    text-decoration: none;
    transition: color 0.5s;
}

.navegador-derecha-enlace:hover{
    border-bottom: 1px solid #FFFFFF;
}

.navegador-derecha-enlace a:hover{
    color: #FFFFFF;
}



.navegador{
    display: flex;
    justify-content: space-between;
    padding: 24px;

    margin: 0px;
    
    background: #372515;
}

.navegador-paginas{
    display: flex;
    
}
.navegador > .navegador-paginas > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navegador > .navegador-derecha > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navegador-paginas-enlace{
    font-family: Pontano Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    

    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navegador-paginas-enlace a{
    color: #ede6e6;
    text-decoration: none;
    transition: color 0.5s;
}

.navegador-paginas-enlace:hover{
    border-bottom: 1px solid #FFFFFF;
}

.navegador-paginas-enlace a:hover{
    color: #FFFFFF;
}

.container-fluid{
    padding: 24px;

    margin: 0px;
    
    background: #372515;
}

.nav-link{
    font-family: Pontano Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;

    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

    color: #ede6e6;
}
.nav-link a{
    color: #ede6e6;
}
.nav-link :hover{
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.navbar-brand{
    color: #ede6e6;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #FFFFFF;
}

.navbar-nav > li > a:hover{
    color: #FFFFFF;
}


